In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from functools import reduce
%matplotlib inline

In [6]:
#Import OANDA Data
df_eurusd = pd.read_csv('Data_OANDA/EURUSD12_11_2018.csv')
df_eurgbp = pd.read_csv('Data_OANDA/EURGBP12_11_2018.csv')
df_gbpusd = pd.read_csv('Data_OANDA/GBPUSD12_11_2018.csv')

In [7]:
#Remove columns Time from OANDA data
dfs_OANDA = [df_eurusd, df_eurgbp, df_gbpusd]
dfs_OANDA_new =[]
for a in dfs_OANDA:
    a.drop(a.columns[[1]],axis=1, inplace=True)
    dfs_OANDA_new.append(a)

In [8]:
#Merge OANDA Data    
dfm_OANDA = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs_OANDA_new)

In [9]:
#Change date format from OANDA
new_date = []
for day in dfm_OANDA['Date']:
    newday = ""
    newdaay = []
    for letter in day:
        letter = letter.replace(".","-")
        newday = newday + letter
    newdaay.append(newday)
    new_date.append(newday)
dfm_OANDA['Date'] = new_date

In [10]:
#Import Yahoo Data
df_aex = pd.read_csv('Data_Yahoo/AEX.csv')

In [11]:
#Merge Yahoo Data into OANDA merged Data
dfs = [dfm_OANDA, df_aex]
dfm = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)

In [12]:
dfm.head()

,Date,Open_eurusd,High_eurusd,Low_eurusd,Close_eurusd,Volume_eurusd,Open_eurgbp,High_eurgbp,Low_eurgbp,Close_eurgbp,...,High_gbpusd,Low_gbpusd,Close_gbpusd,Volume_gbpusd,Open,High,Low,Close,Adj Close,Volume
0,1993-05-12,1.2138,1.2171,1.2105,1.2152,1181,0.7896,0.7928,0.7880,0.7924,...,1.5445,1.5290,1.5338,2781,143.617554,144.384445,143.617554,144.071335,144.071335,0.0
1,1993-05-13,1.2148,1.2158,1.2084,1.2099,991,0.7922,0.7967,0.7910,0.7943,...,1.5360,1.5180,1.5225,2571,144.080414,144.348145,142.523941,142.542084,142.542084,0.0
2,1993-05-14,1.2099,1.2216,1.2095,1.2190,1511,0.7941,0.7958,0.7915,0.7929,...,1.5415,1.5200,1.5387,2711,142.469482,142.469482,141.217041,141.416718,141.416718,0.0
3,1993-05-17,1.2200,1.2205,1.2095,1.2119,1391,0.7914,0.7924,0.7886,0.7890,...,1.5460,1.5309,1.5355,2921,141.398560,141.398560,140.277710,140.436539,140.436539,0.0
4,1993-05-18,1.2133,1.2133,1.2014,1.2034,1391,0.7892,0.7910,0.7833,0.7837,...,1.5380,1.5237,1.5365,2711,140.472839,141.076370,140.064438,140.087128,140.087128,0.0

In [13]:
dfm.to_csv('mergeddata.csv')